
@font-face {
  font-family: "NanumSquareRoundB";
  font-weight: normal;
  src: url("./font/NanumSquareRoundB.ttf") format("truetype");
}


.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Logo {
    text-align: center;
    margin: 25px;
}

.Logo > img {
    width: 130px;
}

.Logo-sm {

    margin: 25px;
}

.Logo-sm > img {
    width: 50px;
}

.Login {
    margin: auto;
    width: 300px;
}



.CenterAlign {
    text-align: center;
    font-family: 'NanumSquareRoundB';
    font-size: 130%;
}

.CenterAlignMd {
    text-align: center;
    font-family: 'NanumSquareRoundB';
    font-size: 80%;
}


.RightAlign {
    text-align: right;
    font-size: 90%;
}

.icon {
    width: 24px;
}

.profile {
    width: 80px;
}